body {
	overflow: hidden;
	font-family: 'Helvetica Neue', serif;
}

a {
	color: #888;
}

#header {
	position: absolute;
	top: 0;
	height: 100px;
	left: 0;
	width: 100%;
	border-bottom: 1px solid black;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	z-index: 2;
	line-height: 100px;
	font-size: 22px;
	padding-left: 50px;
}

#map-canvas {
	position: absolute;
	left: 0;
	top: 100px;
	bottom: 150px;
	right: 0;
	z-index: 1;
}

#footer {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
	height: 50px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4) inset;
	line-height: 50px;
	/*padding: 10px;*/
	font-size: 20px;
	text-align: center;
	z-index: 2;
}

#footer a {
	color: #888;
}

#info-pane {
	position: absolute;
	top: 200px;
	height: 300px;
	width: 200px;
	left: 110%;
	background-color: transparent;
	z-index: 3;
	text-align: justify;
	transition: left 1s ease-in;
	-webkit-transition: left 1s ease-in;
	-o-transition: left 1s ease-in;
	-ms-transition: left 1s ease-in;
	-moz-transition: left 1s ease-in;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
}

#info-pane.flip .front {
	opacity: 0;
	z-index: 10;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

#info-pane .front {
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	opacity: 1;
	padding: 5px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#info-pane.flip .back {
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	opacity: 1;
	z-index: 11;
}

#info-pane .back {
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	padding: 5px;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(180deg);
	-ms-transform: rotateX(0deg) rotateY(180deg);
	-o-transform: rotateX(0deg) rotateY(180deg);
	-webkit-transform: rotateX(0deg) rotateY(180deg);
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

#info-pane .name {
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	text-decoration: underline;
}

#info-pane .return:hover {
    opacity: .5;

}


#comments {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4) inset;
	line-height: 14px;
	/*padding: 10px;*/
	font-size: 14px;
	text-align: left;
	z-index: 2;
	/*overflow:scroll;*/
}
#commentbox {
	-webkit-padding-start:0px;
	width:100%;

	font: 12px 'Helvetica Neue';
	position: absolute;
	list-style-type: none;
	bottom: 25px;
	left: 4px;
	right:4px;
	height: 112px;
	overflow-y:hidden;
}
#list-item-0{
	position:absolute;
	bottom:0px;
}
#list-item-1{
	position:absolute;
	bottom:14px;
}
#list-item-2{
	position:absolute;
	bottom:28px;
}
#list-item-3{
	position:absolute;
	bottom:42px;
}
#list-item-4{
	position:absolute;
	bottom:56px;
}
#list-item-5{
	position:absolute;
	bottom:70px;
}
#list-item-6{
	position:absolute;
	bottom:84px;
}
#list-item-7{
	position:absolute;
	bottom:98px;
}
#list-item-8{
	position:absolute;
	bottom:112px;
}

.new-item {
	opacity:0;
	-webkit-animation: new-item-wkanimation 0.5s linear forwards;
	animation: new-item-animation 0.5s linear forwards;
}
@-webkit-keyframes new-item-wkanimation {
  from {
    opacity:0;
    transform: translateY(20px);
    -webkit-transform: translateY(14px);
  }
 
  to {
    opacity:1;
    transform : translateY(0);
    -webkit-transform: translateY(0px);
  }
}
@keyframes new-item-animation {
  from {
    opacity:0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
  }
 
  to {
    opacity:1;
    transform : translateY(0);
    -webkit-transform: translateY(0px);
  }
}
.old-item {
	-webkit-animation: old-item-wkanimation 0.5s linear forwards;
	animation: old-item-animation 0.5s linear forwards;
}
@-webkit-keyframes old-item-wkanimation {
  from {
    
    transform: translateY(20px);
    -webkit-transform: translateY(14px);
  }
 
  to {
    
    transform : translateY(0);
    -webkit-transform: translateY(0px);
  }
}
@keyframes old-item-animation {
  from {
    
    transform: translateY(20px);
    -webkit-transform: translateY(14px);
  }
 
  to {
    
    transform : translateY(0);
    -webkit-transform: translateY(0px);
  }
}
/*#new-comment-box {
	position: absolute;
	bottom: 2px;
	left: 2px;
	right: 2px;
}*/
/*New comment box css*/
/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */
.form-wrapper {
    /*padding: 15px;*/
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    position:absolute;
    width: 74%;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right:0px;
    z-index: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:5px;
    padding-right: 19px;
    float: left;   
    font: 15px 'Helvetica Neue';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    right:0px;
    bottom: 36px;
    z-index: 3;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 36px;
    width: 25%;
    font:  15px/40px 'Helvetica Neue';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.form-wrapper button:hover{    
    background: #e54040;
}  

.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

#info-pane .back .name {
	position: relative;
	left: -5px;
}

#info-pane .return {
	float: left;
	position: relative;
	margin: 5px 0px 0px 5px;
	cursor: hand;
	cursor: pointer;
	z-index: 30;
}
