<!DOCTYPE html>
<html>
  <head>
    <title>WesPartyMap</title>
    <link href="/static/stylesheets/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-2.0.3.min.js" type='text/javascript'></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>
    <script src="/static/js/maps.google.polygon.containsLatLng.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type='text/javascript'></script>
  </head>
  <body>
    <div id="header">WesPartyMap</div>
    <div id="map-canvas"></div>
    <div id="info-pane">
      <div class="name"></div>
      <canvas id="canvas" width="200" height="300"> Your browser does not support canvas </canvas>
    </div>
    <div id="comments">
      <ul id="commentbox"></ul>
      <form name="newComment" action="" class=form-wrapper cf>
        <input type="text" id= "new-comment-box" name="newcomment" placeholder="new comment">
        <button type="submit" name="submit" class="button" id="submitComment" value="Send" >Send</button>
      </form>
    </div>
    <div id="footer">Designed by <a href="http://www.mdietz.me">Max Dietz</a>, Sam Giagtzoglou, and Jack Lashner during the <a href="http://www.weshack.com">Wesleyan Hackathon</a></div>
  </body>
</html>
